.color-box {
  width: 1200px;
}

.color-box-items {
  display: flex;
  justify-content: space-between;
}

.box1,
.box2,
.box3,
.box4 {
  margin: 10px auto;
  height: 300px;
  width: 250px;
  background-color: gray;
}
