{% extends 'admin/base.html' %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" name="title" > 
    </div>
    <div class="form-group">
        <label>Text:</label>
        <input type="text" class="form-control" name="text" > 
    </div>
    <!-- <div class="form-group">
        <label>Linkedin link:</label>
        <input type="text" class="form-control" name="linkedin-link" > 
    </div>
    <div class="form-group">
        <label>Github link:</label>
        <input type="text" class="form-control" name="github-link" > 
    </div>
    <div class="form-group">
        <label>Instagram link:</label>
        <input type="text" class="form-control" name="ig-link" > 
    </div>
    <div class="form-group">
        <label>Facebook link:</label>
        <input type="text" class="form-control" name="fb-link" > 
    </div>
    <div class="form-group">
        <label>Twitter link:</label>
        <input type="text" class="form-control" name="twitter-link" > 
    </div> -->
    <div class="form-group">
        <label>Image:</label>
        <input type="file" class="form-control" name="file">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Info</button>

</form>

</div>

</form>
</div>
 <a href=""><button type="button" class="btn btn-success float-left"
{% endblock %}