.box {
  width: 100px;
  height: 100px;
  background-color: indigo;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.arrows {
  display: flex;
}
