body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
#header-topbar {
  padding: 5px 0;
  background-color: #131414;
}

.navbar {
  /*margin-left: 10%;*/
  justify-content: space-between;
}
.navbar h1 {
  color: #fff;
  padding-left: 10px;
  align-items: center;
  margin: 0;
}

.x-navbar ul li {
  list-style: none;
  padding: 10px 20px;
  color: #fff;
}
.x-navbar ul {
  cursor: pointer;
}

.x-navbar ul li a {
  color: #fff;
  text-decoration: none;
}
.x-navbar ul li a:hover {
  color: #c49b66;
  border-bottom: 3px solid #c49b66;
  transition: all 0.3s ease;
}
.icon {
  /* display: flex; */
  text-align: center;
  margin-bottom: 10px;
}

#cover {
  position: relative;
}
.cover {
  height: 870px;
  background-image: url(../images/cover-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
