.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.section-padding {
    padding: 10px 0px;
}

.text-center {
    text-align: center;
}

