{% extends 'admin/base.html' %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label style="color: white;">Testimonial:</label>
        <input type="text" value = "{{testimonialitem.text}}" class="form-control" name="text" >
    </div>
    <div class="form-group">
        <label style="color: white;">Name:</label>
        <input type="text" value = "{{testimonialitem.name}}" class="form-control" name="name" >
    </div>
    <div class="form-group">
        <label style="color: white;">Job:</label>
        <input type="text" value = "{{testimonialitem.job}}" class="form-control" name="job" >
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update Testimonial</button>
    </div>
</form>
{% endblock %}